<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Header one here</h2>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non interdum turpis. Maecenas quis fermentum augue, sollicitudin pretium sem. Proin rutrum ante non diam pretium, sit amet iaculis felis placerat. Phasellus id eleifend ligula. Donec eleifend purus sit amet tortor luctus, vel porttitor nisl laoreet. Donec aliquet ac nunc id finibus.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="API monitoring dashboard">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="Data transformation interface">
        </div>
    </div>
</section>
<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Header two here</h2>
            <p class="mb-4">Praesent quis vehicula odio. Duis vestibulum nunc sem, ut aliquet enim euismod vitae. Nunc dignissim, arcu non tempor semper, magna libero volutpat velit, in varius elit urna eget metus. Morbi nisl orci, ornare sit amet lectus nec, lacinia iaculis nisi. Integer semper sapien eu enim euismod malesuada.</p>
        </div>
        <div class="mt-4 font-light text-gray-500 sm:text-lg lg:mt-0 dark:text-gray-400">
            <p class="mb-4">Our platform helps you:</p>
            <ul class="space-y-3">
                <li class="flex items-center">
                    <svg class="w-4 h-4 mr-2 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                    </svg>
                   Do one thing
                </li>
                <li class="flex items-center">
                    <svg class="w-4 h-4 mr-2 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                    </svg>
                    Do another thing
                </li>
                <li class="flex items-center">
                    <svg class="w-4 h-4 mr-2 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                    </svg>
                    Do a third thing
                </li>
                <li class="flex items-center">
                    <svg class="w-4 h-4 mr-2 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                    </svg>
                    Do a fourth thing
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 lg:text-5xl dark:text-white">Trusted by people</h2>
      <p class="font-light text-gray-500 sm:text-lg sm:px-8 lg:px-32 xl:px-64 dark:text-gray-400">Maecenas id nibh ut magna vulputate luctus. Praesent venenatis scelerisque urna, a aliquam nisl venenatis id. Fusce sit amet massa ac mi dignissim vestibulum et sed lacus. Vestibulum efficitur condimentum leo ac tincidunt. Nullam ut viverra elit.</p>
      <dl class="grid grid-cols-2 gap-8 mx-auto mt-8 max-w-screen-md text-gray-900 lg:mt-14 sm:grid-cols-3 dark:text-white">
          <div class="flex flex-col justify-center items-center">
              <dt class="mb-2 text-4xl font-extrabold">99.9%</dt>
              <dd class="text-xl font-normal text-gray-500 dark:text-gray-400">Uptime</dd>
          </div>
          <div class="flex flex-col justify-center items-center">
              <dt class="mb-2 text-4xl font-extrabold">24/7</dt>
              <dd class="text-xl font-normal text-gray-500 dark:text-gray-400">Monitoring</dd>
          </div>
          <div class="flex flex-col justify-center items-center">
              <dt class="mb-2 text-4xl font-extrabold">100%</dt>
              <dd class="text-xl font-normal text-gray-500 dark:text-gray-400">Data Control</dd>
          </div>
      </dl>
  </div>
</section>
