<div class="flashes">
  <% flash.each do |type, message| %>
    <% flash_class = {
      alert: "bg-red-50 text-red-800 border-red-300 dark:bg-gray-800 dark:text-red-400 dark:border-red-800",
      notice: "bg-blue-50 text-blue-800 border-blue-300 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800",
      success: "bg-green-50 text-green-800 border-green-300 dark:bg-gray-800 dark:text-green-400 dark:border-green-800",
    } %>

    <div class="flex items-center p-4 mb-4 text-sm rounded-lg border <%= flash_class[type.to_sym] %>" role="alert" data-flash-type="<% type %>">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <%= message %>
      </div>
    </div>
  <% end %>
</div>
